In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

# Data Preprocessing

In [2]:
df = pd.read_pickle('./sentiment_dataset/rating_and_sentiment.pkl')
df

,original_title,rating_final,user_sentiment
0,10 Cloverfield Lane,"{'WatchedAllMovies': '6', 'thesar-2': '9', 'Ro...","{'CineCritic2517': 5.246111111111114, 'chappyw..."
1,10 Things I Hate About You,"{'pleiades10': '6', 'Ripe Peach': '10', 'segac...","{'Ripe Peach': 5.5734117647058845, 'len-21': 5..."
2,12 Angry Men,"{'JohnWelles': '10', 'RenoirSoda': '10', 'gbil...","{'kikoydaba3': 5.25601328903655, 'yiyuantiming..."
3,12 Years a Slave,"{'Matin_Shwany': '7', 'bbewnylorac': '8', 'g-b...","{'sohansurag': 5.309706422018344, 'happy_hangm..."
4,127 Hours,"{'ccthemovieman-1': '8', 'siobhanmckibbin': '7...","{'PopcornJury': 5.373046511627895, 'Christian_..."
...,...,...,...
817,Yes Man,"{'dbborroughs': '6', 'anmashinyan': '9', 'andr...","{'Prismark10': 5.334476190476192, 'Stampsfight..."
818,Zero Dark Thirty,"{'djurrepower': '6', 'ewgers': '10', 'LeonLoui...","{'amirmustafaa': 5.288680203045684, 'athomed':..."
819,Zodiac,"{'nathanmanson': '9', 'jack_malvern': '5', 'Da...","{'simonparker1990': 5.431070615034154, 'vjnamb..."
820,Zombieland,"{'barrys82': '7', 'lesleyharris30': '10', 'blu...","{'jtindahouse': 5.386991150442479, 'stevelomas..."
821,Zulu,"{'thinker1691': '10', 'Shannon-32': '9', 'bsmi...","{'screenman': 5.317722513089008, 'richieandsam..."

In [3]:
movie_id = []

for i in range(1,823):
    movie_id.append(i)

df = df.assign(movieid = movie_id)
df

,original_title,rating_final,user_sentiment,movieid
0,10 Cloverfield Lane,"{'WatchedAllMovies': '6', 'thesar-2': '9', 'Ro...","{'CineCritic2517': 5.246111111111114, 'chappyw...",1
1,10 Things I Hate About You,"{'pleiades10': '6', 'Ripe Peach': '10', 'segac...","{'Ripe Peach': 5.5734117647058845, 'len-21': 5...",2
2,12 Angry Men,"{'JohnWelles': '10', 'RenoirSoda': '10', 'gbil...","{'kikoydaba3': 5.25601328903655, 'yiyuantiming...",3
3,12 Years a Slave,"{'Matin_Shwany': '7', 'bbewnylorac': '8', 'g-b...","{'sohansurag': 5.309706422018344, 'happy_hangm...",4
4,127 Hours,"{'ccthemovieman-1': '8', 'siobhanmckibbin': '7...","{'PopcornJury': 5.373046511627895, 'Christian_...",5
...,...,...,...,...
817,Yes Man,"{'dbborroughs': '6', 'anmashinyan': '9', 'andr...","{'Prismark10': 5.334476190476192, 'Stampsfight...",818
818,Zero Dark Thirty,"{'djurrepower': '6', 'ewgers': '10', 'LeonLoui...","{'amirmustafaa': 5.288680203045684, 'athomed':...",819
819,Zodiac,"{'nathanmanson': '9', 'jack_malvern': '5', 'Da...","{'simonparker1990': 5.431070615034154, 'vjnamb...",820
820,Zombieland,"{'barrys82': '7', 'lesleyharris30': '10', 'blu...","{'jtindahouse': 5.386991150442479, 'stevelomas...",821
821,Zulu,"{'thinker1691': '10', 'Shannon-32': '9', 'bsmi...","{'screenman': 5.317722513089008, 'richieandsam...",822

In [4]:
sent = pd.DataFrame(columns=['original_title','username','sentiment','movieid'])
rate = pd.DataFrame(columns = ['original_title','username','rating','movieid'])

In [5]:
cnt = 0
for i in range(len(df)):
    tmp = df.iloc[i]
    name = tmp['original_title']
    dictionary = tmp['user_sentiment']
    for key,value in dictionary.items():
        # hi = sent.iloc[cnt]
        # hi['original_title'] = name
        # hi['user'] = key
        # hi['sentiment'] = value
        row = []
        row.append(name)
        row.append(key)
        row.append(value)
        row.append(tmp['movieid'])
        sent = sent.append(pd.Series(row,index=sent.columns),ignore_index=True)
        # cnt+=1
        # print(1)
    # for j in range(len(dictionary)):
        
sent

C:\Users\user\AppData\Local\Temp\ipykernel_8408\2010346365.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sent = sent.append(pd.Series(row,index=sent.columns),ignore_index=True)

            original_title        username  sentiment movieid
0      10 Cloverfield Lane  CineCritic2517   5.246111       1
1      10 Cloverfield Lane   chappywatched   5.456990       1
2      10 Cloverfield Lane  hemispheres_89   5.337538       1
3      10 Cloverfield Lane    eberkerbatur   5.517464       1
4      10 Cloverfield Lane          iNickR   5.274091       1
...                    ...             ...        ...     ...
40925                 Zulu      spookyrat1   5.300408     822
40926                 Zulu     SnoopyStyle   5.192360     822
40927                 Zulu        jdbeatty   5.092045     822
40928                 Zulu  Sergeant_Tibbs   5.275707     822
40929                 Zulu      bsmith5552   5.260958     822

[40930 rows x 4 columns]

In [6]:
cnt = 0
for i in range(len(df)):
    tmp = df.iloc[i]
    name = tmp['original_title']
    dictionary = tmp['rating_final']
    for key,value in dictionary.items():
        row = []
        row.append(name)
        row.append(key)
        row.append(value)
        row.append(tmp['movieid'])
        rate = rate.append(pd.Series(row,index=rate.columns),ignore_index=True)
        
rate

C:\Users\user\AppData\Local\Temp\ipykernel_8408\3657383279.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rate = rate.append(pd.Series(row,index=rate.columns),ignore_index=True)

            original_title          username rating movieid
0      10 Cloverfield Lane  WatchedAllMovies      6       1
1      10 Cloverfield Lane          thesar-2      9       1
2      10 Cloverfield Lane      Robinson2511      9       1
3      10 Cloverfield Lane       jtindahouse      9       1
4      10 Cloverfield Lane    lesleyharris30      8       1
...                    ...               ...    ...     ...
40925                 Zulu    Spuzzlightyear      3     822
40926                 Zulu        jmverville     10     822
40927                 Zulu    michaelRokeefe      6     822
40928                 Zulu            kenjha      4     822
40929                 Zulu       stephen7272      8     822

[40930 rows x 4 columns]

In [49]:
rate_list = rate['rating'].tolist()

for i in range(len(rate_list)):
    tmp = rate_list[i]
    tmp_ = int(tmp)
    rate_list[i] = tmp_
rate['ratings'] = rate_list

In [50]:
final = pd.merge(rate,sent,how='inner',on=['original_title','username','movieid']).reset_index()
final

,index,original_title,username,rating,movieid,ratings,sentiment
0,0,10 Cloverfield Lane,WatchedAllMovies,6,1,6,5.373555
1,1,10 Cloverfield Lane,thesar-2,9,1,9,5.405105
2,2,10 Cloverfield Lane,Robinson2511,9,1,9,5.390880
3,3,10 Cloverfield Lane,jtindahouse,9,1,9,5.466793
4,4,10 Cloverfield Lane,lesleyharris30,8,1,8,5.488783
...,...,...,...,...,...,...,...
40925,40925,Zulu,Spuzzlightyear,3,822,3,5.381486
40926,40926,Zulu,jmverville,10,822,10,5.543115
40927,40927,Zulu,michaelRokeefe,6,822,6,5.462045
40928,40928,Zulu,kenjha,4,822,4,5.118526
40929,40929,Zulu,stephen7272,8,822,8,5.265884

In [53]:
df_ = pd.read_pickle('./sentiment_dataset/rating_and_sentiment_v2.pkl')
df_

,original_title,rating_final,user_sentiment,vader_score
0,10 Cloverfield Lane,"{'WatchedAllMovies': '6', 'thesar-2': '9', 'Ro...","{'CineCritic2517': 5.246111111111114, 'chappyw...","{'CineCritic2517': -0.27226, 'chappywatched': ..."
1,10 Things I Hate About You,"{'pleiades10': '6', 'Ripe Peach': '10', 'segac...","{'Ripe Peach': 5.5734117647058845, 'len-21': 5...","{'Ripe Peach': 0.49394, 'len-21': 0.2452571428..."
2,12 Angry Men,"{'JohnWelles': '10', 'RenoirSoda': '10', 'gbil...","{'kikoydaba3': 5.25601328903655, 'yiyuantiming...","{'kikoydaba3': 0.017407142857142868, 'yiyuanti..."
3,12 Years a Slave,"{'Matin_Shwany': '7', 'bbewnylorac': '8', 'g-b...","{'sohansurag': 5.309706422018344, 'happy_hangm...","{'sohansurag': 0.159845, 'happy_hangman': 0.04..."
4,127 Hours,"{'ccthemovieman-1': '8', 'siobhanmckibbin': '7...","{'PopcornJury': 5.373046511627895, 'Christian_...","{'PopcornJury': 0.04212903225806451, 'Christia..."
...,...,...,...,...
817,Yes Man,"{'dbborroughs': '6', 'anmashinyan': '9', 'andr...","{'Prismark10': 5.334476190476192, 'Stampsfight...","{'Prismark10': -0.14292, 'Stampsfightclub': 0...."
818,Zero Dark Thirty,"{'djurrepower': '6', 'ewgers': '10', 'LeonLoui...","{'amirmustafaa': 5.288680203045684, 'athomed':...","{'amirmustafaa': 0.13623846153846156, 'athomed..."
819,Zodiac,"{'nathanmanson': '9', 'jack_malvern': '5', 'Da...","{'simonparker1990': 5.431070615034154, 'vjnamb...","{'simonparker1990': 0.051565000000000014, 'vjn..."
820,Zombieland,"{'barrys82': '7', 'lesleyharris30': '10', 'blu...","{'jtindahouse': 5.386991150442479, 'stevelomas...","{'jtindahouse': 0.18615454545454543, 'stevelom..."
821,Zulu,"{'thinker1691': '10', 'Shannon-32': '9', 'bsmi...","{'screenman': 5.317722513089008, 'richieandsam...","{'screenman': 0.081945, 'richieandsam': -0.245..."

In [54]:
movie_id = []

for i in range(1,823):
    movie_id.append(i)

df_ = df_.assign(movieid = movie_id)
df_

,original_title,rating_final,user_sentiment,vader_score,movieid
0,10 Cloverfield Lane,"{'WatchedAllMovies': '6', 'thesar-2': '9', 'Ro...","{'CineCritic2517': 5.246111111111114, 'chappyw...","{'CineCritic2517': -0.27226, 'chappywatched': ...",1
1,10 Things I Hate About You,"{'pleiades10': '6', 'Ripe Peach': '10', 'segac...","{'Ripe Peach': 5.5734117647058845, 'len-21': 5...","{'Ripe Peach': 0.49394, 'len-21': 0.2452571428...",2
2,12 Angry Men,"{'JohnWelles': '10', 'RenoirSoda': '10', 'gbil...","{'kikoydaba3': 5.25601328903655, 'yiyuantiming...","{'kikoydaba3': 0.017407142857142868, 'yiyuanti...",3
3,12 Years a Slave,"{'Matin_Shwany': '7', 'bbewnylorac': '8', 'g-b...","{'sohansurag': 5.309706422018344, 'happy_hangm...","{'sohansurag': 0.159845, 'happy_hangman': 0.04...",4
4,127 Hours,"{'ccthemovieman-1': '8', 'siobhanmckibbin': '7...","{'PopcornJury': 5.373046511627895, 'Christian_...","{'PopcornJury': 0.04212903225806451, 'Christia...",5
...,...,...,...,...,...
817,Yes Man,"{'dbborroughs': '6', 'anmashinyan': '9', 'andr...","{'Prismark10': 5.334476190476192, 'Stampsfight...","{'Prismark10': -0.14292, 'Stampsfightclub': 0....",818
818,Zero Dark Thirty,"{'djurrepower': '6', 'ewgers': '10', 'LeonLoui...","{'amirmustafaa': 5.288680203045684, 'athomed':...","{'amirmustafaa': 0.13623846153846156, 'athomed...",819
819,Zodiac,"{'nathanmanson': '9', 'jack_malvern': '5', 'Da...","{'simonparker1990': 5.431070615034154, 'vjnamb...","{'simonparker1990': 0.051565000000000014, 'vjn...",820
820,Zombieland,"{'barrys82': '7', 'lesleyharris30': '10', 'blu...","{'jtindahouse': 5.386991150442479, 'stevelomas...","{'jtindahouse': 0.18615454545454543, 'stevelom...",821
821,Zulu,"{'thinker1691': '10', 'Shannon-32': '9', 'bsmi...","{'screenman': 5.317722513089008, 'richieandsam...","{'screenman': 0.081945, 'richieandsam': -0.245...",822

In [55]:
vd = pd.DataFrame(columns=['original_title','username','vader','movieid'])

cnt = 0
for i in range(len(df_)):
    tmp = df_.iloc[i]
    name = tmp['original_title']
    dictionary = tmp['vader_score']
    for key,value in dictionary.items():
        row = []
        row.append(name)
        row.append(key)
        row.append(value)
        row.append(tmp['movieid'])
        vd = vd.append(pd.Series(row,index=vd.columns),ignore_index=True)
        
        
vd

C:\Users\user\AppData\Local\Temp\ipykernel_8408\1678156910.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vd = vd.append(pd.Series(row,index=vd.columns),ignore_index=True)

            original_title        username     vader movieid
0      10 Cloverfield Lane  CineCritic2517 -0.272260       1
1      10 Cloverfield Lane   chappywatched  0.354043       1
2      10 Cloverfield Lane  hemispheres_89  0.064948       1
3      10 Cloverfield Lane    eberkerbatur  0.926950       1
4      10 Cloverfield Lane          iNickR  0.030141       1
...                    ...             ...       ...     ...
40925                 Zulu      spookyrat1  0.337427     822
40926                 Zulu     SnoopyStyle -0.162531     822
40927                 Zulu        jdbeatty -0.425525     822
40928                 Zulu  Sergeant_Tibbs  0.323700     822
40929                 Zulu      bsmith5552 -0.059133     822

[40930 rows x 4 columns]

In [56]:
final = pd.merge(final,vd,how='inner',on=['original_title','username','movieid']).reset_index()
final

,level_0,index,original_title,username,movieid,ratings,sentiment,vader
0,0,0,10 Cloverfield Lane,WatchedAllMovies,1,6,5.373555,-0.119861
1,1,1,10 Cloverfield Lane,thesar-2,1,9,5.405105,0.350337
2,2,2,10 Cloverfield Lane,Robinson2511,1,9,5.390880,0.278319
3,3,3,10 Cloverfield Lane,jtindahouse,1,9,5.466793,0.321080
4,4,4,10 Cloverfield Lane,lesleyharris30,1,8,5.488783,0.261510
...,...,...,...,...,...,...,...,...
40925,40925,40925,Zulu,Spuzzlightyear,822,3,5.381486,0.046933
40926,40926,40926,Zulu,jmverville,822,10,5.543115,0.548300
40927,40927,40927,Zulu,michaelRokeefe,822,6,5.462045,0.188700
40928,40928,40928,Zulu,kenjha,822,4,5.118526,-0.495667
40929,40929,40929,Zulu,stephen7272,822,8,5.265884,0.114867

# Item-based CF

## Rating

In [57]:
final_cc = final.copy()
tmp = final_cc['username'].value_counts()[-4878:]
tmp_ = tmp.index.tolist()

list_tmp = []

for i in range(len(final_cc)):
    tm = final_cc.iloc[i]
    if tm['username'] in tmp_:
        list_tmp.append(i)

final_cc = final_cc.drop(list_tmp)
final_cc

,level_0,index,original_title,username,movieid,ratings,sentiment,vader
0,0,0,10 Cloverfield Lane,WatchedAllMovies,1,6,5.373555,-0.119861
1,1,1,10 Cloverfield Lane,thesar-2,1,9,5.405105,0.350337
3,3,3,10 Cloverfield Lane,jtindahouse,1,9,5.466793,0.321080
4,4,4,10 Cloverfield Lane,lesleyharris30,1,8,5.488783,0.261510
5,5,5,10 Cloverfield Lane,pyrocitor,1,8,5.355457,0.176983
...,...,...,...,...,...,...,...,...
40925,40925,40925,Zulu,Spuzzlightyear,822,3,5.381486,0.046933
40926,40926,40926,Zulu,jmverville,822,10,5.543115,0.548300
40927,40927,40927,Zulu,michaelRokeefe,822,6,5.462045,0.188700
40928,40928,40928,Zulu,kenjha,822,4,5.118526,-0.495667
40929,40929,40929,Zulu,stephen7272,822,8,5.265884,0.114867

In [58]:
ratings = final_cc.copy()

ratings = ratings[['original_title','username','ratings']]

def RMSE(y_true,y_pred):
  for i in range(len(y_true)):
    tmp = y_true[i]
    f_tmp = float(tmp)
    y_true[i] = f_tmp
  
  for i in range(len(y_pred)):
    if y_pred[i] == np.nan:
      y_pred[i] = 0.0
    else:
      tmp = y_pred[i]
      f_tmp = float(tmp)
      y_pred[i] = f_tmp
  
  return np.sqrt(np.mean((np.array(y_true)-np.array(y_pred))**2))

# def score(model,neighbor_size=0): # neighbor size!
#   id_pairs = zip(x_test['username'],x_test['original_title'])
#   y_pred = np.array([model(user,movie,neighbor_size) for (user,movie) in id_pairs])
#   y_true = np.array(x_test['rating'])

#   return RMSE(y_true,y_pred) 

x = ratings.copy()
y = ratings['username']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,stratify=y)

rating_matrix = x_train.pivot(index='username',columns = 'original_title',values = 'ratings')
rating_matrix

original_title,10 Cloverfield Lane,10 Things I Hate About You,12 Angry Men,12 Years a Slave,127 Hours,1408,1941,2001: A Space Odyssey,2012,21,...,X-Men Origins: Wolverine,X-Men: Apocalypse,X-Men: Days of Future Past,X-Men: First Class,X-Men: The Last Stand,Yes Man,Zero Dark Thirty,Zodiac,Zombieland,Zulu
username,,,,,,,,,,,,,,,,,,,,,
#1 Gracie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
*(CableGuy)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0w0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10sion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1bilbo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zurnd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN
zurnderrick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zutterjp48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzhhhqing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
~AleXa~,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
rating_matrix_t = np.transpose(rating_matrix)

matrix_dummy = rating_matrix_t.copy().fillna(0)
item_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
item_similarity = pd.DataFrame(item_similarity,
                               index = rating_matrix_t.index,
                               columns = rating_matrix_t.index)

In [83]:
def score_(model):
  id_pairs = zip(x_test['username'],x_test['original_title'])
  y_pred = np.array([model(user,movie) for (user,movie) in id_pairs])
  y_true = np.array(x_test['ratings'])

  return RMSE(y_true,y_pred)

def CF_IBCF(user_id,movie_id):
  if movie_id in item_similarity.columns:
    sim_scores = item_similarity[movie_id]
    user_rating = rating_matrix_t[user_id]
    # the indexes of not rated movies 
    none_rating_idx = user_rating[user_rating.isnull()].index
    # exclude nan
    user_rating = user_rating.dropna()
    for i in range(len(user_rating)):
      tmp = user_rating[i]
      int_tmp = int(tmp)
      user_rating[i] = int_tmp
    # exclude not rated ones
    sim_scores = sim_scores.drop(none_rating_idx)
    if sim_scores.sum()==0:
      mean_rating = 5.45
    # mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()
    else:
      mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()

  else:
    mean_rating = 5.45
  return mean_rating

score_(CF_IBCF)

2.4630350984038865

In [81]:
def recom_movie(user_id,n_items):
  user_movie = rating_matrix.loc[user_id].copy()

  for movie in rating_matrix.columns: 
    if pd.notnull(user_movie.loc[movie]): 
      user_movie.loc[movie] = 0
    else:
      user_movie.loc[movie] = CF_IBCF(user_id,movie)
  movie_sort = user_movie.sort_values(ascending=False)[:n_items]
  
  recom_movies = movie_sort.index.tolist()
  
  return recom_movies

ratings_recom = recom_movie(user_id = 'action-man101', n_items=5) 
ratings_recom

['The Insider',
 'From Hell',
 'Clash of the Titans',
 'Lords of Dogtown',
 'Jurassic World']

## labMT

In [87]:
ratings = final_cc.copy()

ratings = ratings[['original_title','username','sentiment']]

def RMSE(y_true,y_pred):
  for i in range(len(y_true)):
    tmp = y_true[i]
    f_tmp = float(tmp)
    y_true[i] = f_tmp
  
  for i in range(len(y_pred)):
    if y_pred[i] == np.nan:
      y_pred[i] = 0.0
    else:
      tmp = y_pred[i]
      f_tmp = float(tmp)
      y_pred[i] = f_tmp
  
  return np.sqrt(np.mean((np.array(y_true)-np.array(y_pred))**2))

x = ratings.copy()
y = ratings['username']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,stratify=y)

rating_matrix = x_train.pivot(index='username',columns = 'original_title',values = 'sentiment')
rating_matrix_t = np.transpose(rating_matrix)

matrix_dummy = rating_matrix_t.copy().fillna(0)
item_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
item_similarity = pd.DataFrame(item_similarity,
                               index = rating_matrix_t.index,
                               columns = rating_matrix_t.index)

def score_sentiment(model):
  id_pairs = zip(x_test['username'],x_test['original_title'])
  y_pred = np.array([model(user,movie) for (user,movie) in id_pairs])
  y_true = np.array(x_test['sentiment'])

  return RMSE(y_true,y_pred)

def CF_IBCF_sentiment(user_id,movie_id):
  if movie_id in item_similarity.columns:
    sim_scores = item_similarity[movie_id]
    user_rating = rating_matrix_t[user_id]
    # the indexes of not rated movies 
    none_rating_idx = user_rating[user_rating.isnull()].index
    # exclude nan
    user_rating = user_rating.dropna()
    for i in range(len(user_rating)):
      tmp = user_rating[i]
      int_tmp = int(tmp)
      user_rating[i] = int_tmp
    # exclude not rated ones
    sim_scores = sim_scores.drop(none_rating_idx)
    if sim_scores.sum()==0:
      mean_rating = final_cc['sentiment'].mean()
    # mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()
    else:
      mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()

  else:
    mean_rating = final_cc['sentiment'].mean()
  return mean_rating

def recom_movie_sentiment(user_id,n_items):
  user_movie = rating_matrix.loc[user_id].copy()

  for movie in rating_matrix.columns: 
    if pd.notnull(user_movie.loc[movie]): 
      user_movie.loc[movie] = 0
    else:
      user_movie.loc[movie] = CF_IBCF_sentiment(user_id,movie)
  movie_sort = user_movie.sort_values(ascending=False)[:n_items]
  
  recom_movies = movie_sort.index.tolist()
  
  return recom_movies

score_sentiment(CF_IBCF_sentiment)

0.42820943935256695

In [94]:
ratings_recom = recom_movie_sentiment(user_id = 'action-man101', n_items=5) 
ratings_recom

['Zulu', 'Liar Liar', 'The Lion King', 'Men in Black 3', 'Men in Black']

## VADER

In [95]:
ratings = final_cc.copy()

ratings = ratings[['original_title','username','vader']]

def RMSE(y_true,y_pred):
  for i in range(len(y_true)):
    tmp = y_true[i]
    f_tmp = float(tmp)
    y_true[i] = f_tmp
  
  for i in range(len(y_pred)):
    if y_pred[i] == np.nan:
      y_pred[i] = 0.0
    else:
      tmp = y_pred[i]
      f_tmp = float(tmp)
      y_pred[i] = f_tmp
  
  return np.sqrt(np.mean((np.array(y_true)-np.array(y_pred))**2))

x = ratings.copy()
y = ratings['username']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,stratify=y)

rating_matrix = x_train.pivot(index='username',columns = 'original_title',values = 'vader')
rating_matrix_t = np.transpose(rating_matrix)

matrix_dummy = rating_matrix_t.copy().fillna(0)
item_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
item_similarity = pd.DataFrame(item_similarity,
                               index = rating_matrix_t.index,
                               columns = rating_matrix_t.index)

def score_vader(model):
  id_pairs = zip(x_test['username'],x_test['original_title'])
  y_pred = np.array([model(user,movie) for (user,movie) in id_pairs])
  y_true = np.array(x_test['vader'])

  return RMSE(y_true,y_pred)

def CF_IBCF_vader(user_id,movie_id):
  if movie_id in item_similarity.columns:
    sim_scores = item_similarity[movie_id]
    user_rating = rating_matrix_t[user_id]
    # the indexes of not rated movies 
    none_rating_idx = user_rating[user_rating.isnull()].index
    # exclude nan
    user_rating = user_rating.dropna()
    for i in range(len(user_rating)):
      tmp = user_rating[i]
      int_tmp = int(tmp)
      user_rating[i] = int_tmp
    # exclude not rated ones
    sim_scores = sim_scores.drop(none_rating_idx)
    if sim_scores.sum()==0:
      mean_rating = final_cc['vader'].mean()
    # mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()
    else:
      mean_rating = np.dot(sim_scores,user_rating) / sim_scores.sum()

  else:
    mean_rating = final_cc['vader'].mean()
  return mean_rating

def recom_movie_vader(user_id,n_items):
  user_movie = rating_matrix.loc[user_id].copy()

  for movie in rating_matrix.columns: 
    if pd.notnull(user_movie.loc[movie]): 
      user_movie.loc[movie] = 0
    else:
      user_movie.loc[movie] = CF_IBCF_vader(user_id,movie)
  movie_sort = user_movie.sort_values(ascending=False)[:n_items]
  
  recom_movies = movie_sort.index.tolist()
  
  return recom_movies

score_vader(CF_IBCF_vader)

0.32677222699505937

In [102]:
ratings_recom = recom_movie_vader(user_id = 'action-man101', n_items=5) 
ratings_recom

['Mystic River', 'Selma', 'Saw III', 'Scary Movie 2', "Schindler's List"]